.genericHtml{
    h1{
        font-size: 3.2rem;
        margin-bottom: 1.6rem;
    }

    h2{
        font-size: 2.4rem;
        margin-bottom: 1.2rem;
    }

    h2{
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    p{
        font-size: 1.6rem;
        margin-bottom: 1.6rem;
        line-height: 1.6rem;
    }

    a{
        color: var(--link-color);
        text-decoration: none;
        font-weight: bold;
    }

    a:hover{
        text-decoration: underline;
    }

    ul{
        padding-left: 2.4rem;
    }

    li{
        margin-bottom: .8rem;
    }

    img{
        max-width: 100%;
        height: auto;
        border-radius: .8rem;
        display: block;
        margin: 0;
    }
}